<style>
    .form-content-wrapper {
        max-width: 50rem;
        margin: 0 auto;
    }

    input[type=file]:disabled {
        opacity: 0.1;
        background-color:
    }
</style>
<script>
    var ids = ['file', 'text', 'url']

    $(document).ready(function() {
      $('#file').cla

      $('#file').on('focusout', function() {
        if (this.value) {
            disableOtherFields(this.id)
            values = this.value.split('\\');
            fileName = values[values.length - 1];
        } else {
            fileName = 'Choose file';
            enableOtherFields(this.id);
        }
        $('label.custom-file-label')[0].innerText = fileName;
      });

      $('#text').add('#url').on('focusout', function() {
          console.log(this.value);
          if (this.value) {
              disableOtherFields(this.id);
          } else {
              enableOtherFields(this.id);
          }
      });
    });

    function disableOtherFields(name, disable = true) {
        this.ids.filter((e) => e != name).forEach(element => {
           $(`#${element}`).prop('disabled', disable)
        });
    }

    function enableOtherFields(name) {
        disableOtherFields(name, false);
    }
</script>

<% flash.each do |type, msg| %>
  <% alert_name = {'error': 'danger', 'success': 'success', 'notice': 'info'}.with_indifferent_access %>

  <div class="text-center alert alert-<%= alert_name[type]%>">
    <%= msg %>
  </div>
<% end %>

<%= bootstrap_form_with(url: show_results_path, local: true) do |f| %>
  <div class="form-content-wrapper pt-3 mt-3">
    <%= f.text_field :name, required: true %>
    <%= f.email_field :email, required: true %>
    <div class="alert alert-info mt-3" role="alert">
      You can only use one of the following!!!
    </div>
    <%= f.file_field :upload, id: 'file', accept: "text/plain, text/html" %>
    <%= f.text_area :text, id: 'text' %>
    <%= f.url_field :url, id: 'url' %>
    <%= f.submit "Submit", class: "btn btn-secondary mt-3" %>
  </div>
<% end %>