<%= javascript_pack_tag 'results' %>

<% flash.each do |type, msg| %>
  <% alert_name = {'error': 'danger', 'success': 'success', 'notice': 'info'}.with_indifferent_access %>

  <div class="text-center alert alert-<%= alert_name[type]%>">
    <%= msg %>
  </div>
<% end %>

<%= bootstrap_form_with(url: show_results_path, local: true) do |f| %>
  <div class="form-content-wrapper pt-3 mt-3">
    <%= f.text_field :name, required: true %>
    <%= f.email_field :email, required: true %>
    <div class="alert alert-info mt-3" role="alert">
      You can only use one of the following!!!
    </div>
    <%= f.file_field :upload, id: 'file', accept: "text/plain, text/html" %>
    <%= f.text_area :text, id: 'text' %>
    <%= f.url_field :url, id: 'url' %>
    <%= f.submit "Submit", class: "btn btn-secondary mt-3" %>
  </div>
<% end %>